*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
/ViewPagerIndicatorSample/build/intermediates/pre-dexed/debug/com.android.support-support-media-compat-24.2.0_8174058fbc5b42ffca96c490b440fc5cb42955df.jar
/ViewPagerIndicatorSample/build/intermediates/pre-dexed/debug/com.android.support-support-v4-24.2.0_504716b3bbf4cf5df42a61dd6cc0435e50eba422.jar
/ViewPagerIndicatorSample/build/intermediates/pre-dexed/debug/debug_f7bc2f0eb4075b5c03f8325e9067ebfefaac697f.jar
/ViewPagerIndicatorSample/build/intermediates/pre-dexed/debug/internal_impl-24.2.0_604b9005aeeb676a077ea674f63bdf5fd84a57d6.jar
/ViewPagerIndicatorSample/build/intermediates/pre-dexed/debug/internal_impl-24.2.0_6eaa5e7f20bb256fb07c955cd6a87160045e0566.jar
/ViewPagerIndicatorSample/build/intermediates/pre-dexed/debug/internal_impl-24.2.0_8165cfbe84392b5859ea0242b81bb6de279b3dab.jar
/ViewPagerIndicatorSample/build/intermediates/pre-dexed/debug/internal_impl-24.2.0_bf2dc0a001e9d939d9b01bdd24eb22983610b6a2.jar
/ViewPagerIndicatorSample/build/intermediates/pre-dexed/debug/internal_impl-24.2.0_ff515b2134b22086958e9145a374d53c4cf229c7.jar
/ViewPagerIndicatorSample/build/intermediates/pre-dexed/debug/SlashYouth-ViewPagerIndicatorLibrary-unspecified_ed2a1e644c773fde24370afb7233c6ae1227bcb8.jar
/ViewPagerIndicatorSample/build/intermediates/pre-dexed/debug/support-annotations-24.2.0_d72ba86300f84128fe4e592ca02fa8887145b2f2.jar
/ViewPagerIndicatorSample/build/intermediates/instant-run-support/debug/package.marker
/ViewPagerIndicatorSample/build/outputs/apk/ViewPagerIndicatorSample-debug-unaligned.apk
/ViewPagerIndicatorSample/build/outputs/apk/ViewPagerIndicatorSample-debug.apk
/ViewPagerIndicatorSample/build/intermediates/classes/debug/com/viewpagerindicator/R$attr.class
/ViewPagerIndicatorSample/build/intermediates/classes/debug/com/viewpagerindicator/R$bool.class
/ViewPagerIndicatorSample/build/intermediates/classes/debug/com/viewpagerindicator/R$color.class
/ViewPagerIndicatorSample/build/intermediates/classes/debug/com/viewpagerindicator/R$dimen.class
/ViewPagerIndicatorSample/build/intermediates/classes/debug/com/viewpagerindicator/R$drawable.class
/ViewPagerIndicatorSample/build/intermediates/classes/debug/com/viewpagerindicator/R$id.class
/ViewPagerIndicatorSample/build/intermediates/classes/debug/com/viewpagerindicator/R$integer.class
/ViewPagerIndicatorSample/build/intermediates/classes/debug/com/viewpagerindicator/R$style.class
/ViewPagerIndicatorSample/build/intermediates/classes/debug/com/viewpagerindicator/R$styleable.class
/ViewPagerIndicatorSample/build/intermediates/classes/debug/com/viewpagerindicator/R.class
/ViewPagerIndicatorSample/build/intermediates/classes/debug/com/viewpagerindicator/sample/BaseSampleActivity.class
/ViewPagerIndicatorSample/build/intermediates/classes/debug/com/viewpagerindicator/sample/BuildConfig.class
/ViewPagerIndicatorSample/build/intermediates/classes/debug/com/viewpagerindicator/sample/ListSamples$1.class
/ViewPagerIndicatorSample/build/intermediates/classes/debug/com/viewpagerindicator/sample/ListSamples.class
/ViewPagerIndicatorSample/build/intermediates/classes/debug/com/viewpagerindicator/sample/R$attr.class
/ViewPagerIndicatorSample/build/intermediates/classes/debug/com/viewpagerindicator/sample/R$bool.class
/ViewPagerIndicatorSample/build/intermediates/classes/debug/com/viewpagerindicator/sample/R$color.class
/ViewPagerIndicatorSample/build/intermediates/classes/debug/com/viewpagerindicator/sample/R$dimen.class
/ViewPagerIndicatorSample/build/intermediates/classes/debug/com/viewpagerindicator/sample/R$drawable.class
/ViewPagerIndicatorSample/build/intermediates/classes/debug/com/viewpagerindicator/sample/R$id.class
/ViewPagerIndicatorSample/build/intermediates/classes/debug/com/viewpagerindicator/sample/R$integer.class
/ViewPagerIndicatorSample/build/intermediates/classes/debug/com/viewpagerindicator/sample/R$layout.class
/ViewPagerIndicatorSample/build/intermediates/classes/debug/com/viewpagerindicator/sample/R$menu.class
/ViewPagerIndicatorSample/build/intermediates/classes/debug/com/viewpagerindicator/sample/R$style.class
/ViewPagerIndicatorSample/build/intermediates/classes/debug/com/viewpagerindicator/sample/R$styleable.class
/ViewPagerIndicatorSample/build/intermediates/classes/debug/com/viewpagerindicator/sample/R.class
/ViewPagerIndicatorSample/build/intermediates/classes/debug/com/viewpagerindicator/sample/SampleCirclesDefault.class
/ViewPagerIndicatorSample/build/intermediates/classes/debug/com/viewpagerindicator/sample/SampleCirclesInitialPage.class
/ViewPagerIndicatorSample/build/intermediates/classes/debug/com/viewpagerindicator/sample/SampleCirclesSnap.class
/ViewPagerIndicatorSample/build/intermediates/classes/debug/com/viewpagerindicator/sample/SampleCirclesStyledLayout.class
/ViewPagerIndicatorSample/build/intermediates/classes/debug/com/viewpagerindicator/sample/SampleCirclesStyledMethods.class
/ViewPagerIndicatorSample/build/intermediates/classes/debug/com/viewpagerindicator/sample/SampleCirclesStyledTheme.class
/ViewPagerIndicatorSample/build/intermediates/classes/debug/com/viewpagerindicator/sample/SampleCirclesWithListener$1.class
/ViewPagerIndicatorSample/build/intermediates/classes/debug/com/viewpagerindicator/sample/SampleCirclesWithListener.class
/ViewPagerIndicatorSample/build/intermediates/classes/debug/com/viewpagerindicator/sample/SampleIconsDefault.class
/ViewPagerIndicatorSample/build/intermediates/classes/debug/com/viewpagerindicator/sample/SampleLinesDefault.class
/ViewPagerIndicatorSample/build/intermediates/classes/debug/com/viewpagerindicator/sample/SampleLinesStyledLayout.class
/ViewPagerIndicatorSample/build/intermediates/classes/debug/com/viewpagerindicator/sample/SampleLinesStyledMethods.class
/ViewPagerIndicatorSample/build/intermediates/classes/debug/com/viewpagerindicator/sample/SampleLinesStyledTheme.class
/ViewPagerIndicatorSample/build/intermediates/classes/debug/com/viewpagerindicator/sample/SampleTabsDefault$GoogleMusicAdapter.class
/ViewPagerIndicatorSample/build/intermediates/classes/debug/com/viewpagerindicator/sample/SampleTabsDefault.class
/ViewPagerIndicatorSample/build/intermediates/classes/debug/com/viewpagerindicator/sample/SampleTabsStyled$GoogleMusicAdapter.class
/ViewPagerIndicatorSample/build/intermediates/classes/debug/com/viewpagerindicator/sample/SampleTabsStyled.class
/ViewPagerIndicatorSample/build/intermediates/classes/debug/com/viewpagerindicator/sample/SampleTabsWithIcons$GoogleMusicAdapter.class
/ViewPagerIndicatorSample/build/intermediates/classes/debug/com/viewpagerindicator/sample/SampleTabsWithIcons.class
/ViewPagerIndicatorSample/build/intermediates/classes/debug/com/viewpagerindicator/sample/SampleTitlesBottom.class
/ViewPagerIndicatorSample/build/intermediates/classes/debug/com/viewpagerindicator/sample/SampleTitlesCenterClickListener.class
/ViewPagerIndicatorSample/build/intermediates/classes/debug/com/viewpagerindicator/sample/SampleTitlesDefault.class
/ViewPagerIndicatorSample/build/intermediates/classes/debug/com/viewpagerindicator/sample/SampleTitlesInitialPage.class
/ViewPagerIndicatorSample/build/intermediates/classes/debug/com/viewpagerindicator/sample/SampleTitlesStyledLayout.class
/ViewPagerIndicatorSample/build/intermediates/classes/debug/com/viewpagerindicator/sample/SampleTitlesStyledMethods.class
/ViewPagerIndicatorSample/build/intermediates/classes/debug/com/viewpagerindicator/sample/SampleTitlesStyledTheme.class
/ViewPagerIndicatorSample/build/intermediates/classes/debug/com/viewpagerindicator/sample/SampleTitlesTriangle.class
/ViewPagerIndicatorSample/build/intermediates/classes/debug/com/viewpagerindicator/sample/SampleTitlesWithListener$1.class
/ViewPagerIndicatorSample/build/intermediates/classes/debug/com/viewpagerindicator/sample/SampleTitlesWithListener.class
/ViewPagerIndicatorSample/build/intermediates/classes/debug/com/viewpagerindicator/sample/SampleUnderlinesDefault.class
/ViewPagerIndicatorSample/build/intermediates/classes/debug/com/viewpagerindicator/sample/SampleUnderlinesNoFade.class
/ViewPagerIndicatorSample/build/intermediates/classes/debug/com/viewpagerindicator/sample/SampleUnderlinesStyledLayout.class
/ViewPagerIndicatorSample/build/intermediates/classes/debug/com/viewpagerindicator/sample/SampleUnderlinesStyledMethods.class
/ViewPagerIndicatorSample/build/intermediates/classes/debug/com/viewpagerindicator/sample/SampleUnderlinesStyledTheme.class
/ViewPagerIndicatorSample/build/intermediates/classes/debug/com/viewpagerindicator/sample/TestFragment.class
/ViewPagerIndicatorSample/build/intermediates/classes/debug/com/viewpagerindicator/sample/TestFragmentAdapter.class
/ViewPagerIndicatorSample/build/intermediates/transforms/dex/debug/folders/1000/1f/main/classes.dex
/ViewPagerIndicatorSample/build/intermediates/pre-dexed/debug/com.android.support-support-compat-24.2.0_c947ffe4ed057e23628b9970a37f5a4efb483cf2.jar
/ViewPagerIndicatorSample/build/intermediates/pre-dexed/debug/com.android.support-support-core-ui-24.2.0_9851b5961540d679311cceb566a63abfcd254f2f.jar
/ViewPagerIndicatorSample/build/intermediates/pre-dexed/debug/com.android.support-support-core-utils-24.2.0_3371008c5f223cfcbbf2025f99b7627437837716.jar
/ViewPagerIndicatorSample/build/intermediates/pre-dexed/debug/com.android.support-support-fragment-24.2.0_252399ce09735696e63d535477db859f5db12161.jar
/ViewPagerIndicatorSample/build/intermediates/incremental/mergeDebugJniLibFolders/merger.xml
/ViewPagerIndicatorLibrary/build/intermediates/incremental/mergeReleaseAssets/merger.xml
/ViewPagerIndicatorLibrary/build/intermediates/incremental/mergeReleaseResources/merger.xml
/ViewPagerIndicatorLibrary/build/intermediates/incremental/packageDebugResources/merger.xml
/ViewPagerIndicatorLibrary/build/intermediates/bundles/release/classes.jar
/ViewPagerIndicatorLibrary/build/outputs/aar/ViewPagerIndicatorLibrary-release.aar
